{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        overtone/overtone {:mvn/version "0.10.6"}
        leipzig/leipzig {:mvn/version "0.10.0"}}
 :paths ["src" "test" "resources"]
 :aliases {}}
